#shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: black;
    opacity: 0.5;
    left: 0;
    top: 0;
}

.custom-alert {
    height: 200px;
    width: 300px;
    border: 3px outset gray;
    background: white;
    top: 20%;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index:2;
    display: none;
    position: fixed;
    padding: 15px;
}
#tabs {
    margin: 10px 0;
}
.tabs-nav {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.tabs-nav li {
    display: block;
    float: left;
    padding: 0;
    list-style: none;
}
.tabs-nav a {
    display: block;
    padding: 10px 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #fbfbfb;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: #999;
}
.tabs-nav li:first-child a {
    border-radius: 5px 0 0 0;
}
.tabs-nav li:last-child a {
    display: block;
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}
.tabs-nav a.active {
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #000;
}
.tabs-items {
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 5px;
    background: #fff;
    margin: -1px 0 0 0;
}
.tabs-item {
    padding: 15px;
}

